<div id="my-target"></div>

<script type='text/javascript'>
LABKEY.requiresExt4Sandbox(true);
</script>

<script type='text/javascript'>

function init() {


var numbers = Ext4.create('Ext.data.Store', {
    fields: ['name', 'digit'],
    data : [
        {"name": "One", "digit": "1"},
        {"name": "Two", "digit": "2"},
        {"name": "Uno", "digit": "1"}
    ]
});


var myCombo = Ext4.create('Ext.form.ComboBox', {
    fieldLabel: 'Choose Name',
    store: numbers,
    queryMode: 'local',
    displayField: 'name',
    valueField: 'digit'
});

var result = Ext4.create('Ext.form.field.Text', {
   fieldLabel: 'Number',
   value: 'Nothing yet'
});

Ext4.create('Ext.form.Panel', {
    title: 'Names of Numbers',
    width: 300,
    height: 150,
    bodyPadding: 10,
    renderTo: 'my-target',
    items: [myCombo, result]
});


myCombo.on('select', function(combo, records, eOpts){
   result.setValue(records[0].data.digit);
});

}

Ext4.onReady(init);

</script>