.chkbox {
    height: 13px;
    width: 13px;
    background: black url('../../ext-4.1.0/resources/themes/images/default/form/checkbox.gif') no-repeat -13px 0;
    float: left;
    margin: 0 5px 0 0;
}
.x4-boundlist-selected .chkbox {
    background-position: -13px -13px;
}

.sel-all {
    padding: 3px;
    background-color: lemonchiffon;
    padding-left: 10px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
}

